 body {
            font-family: 'Arial', sans-serif;
            background-color: rgb(207, 137, 7);
            color: #333;
            margin-top: 40px;
            font-style: italic;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        div {
            background-color: rgb(207, 137, 7);
            padding: 25px;
            border-radius: 8px;
         
            width: 100%;
            max-width: 700px;
        }

        h1 {
            text-align: center;
            color:black;
            margin-bottom: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 25px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 80%;
            padding: 10px;
            border: 2px solid black;
            border-radius: 25px;
            margin-top: 5px;
        }

        textarea {
            height: 50px;
            resize: vertical;
        }

        input[type="file"]{
            margin-top: 20px;
        }

        
        .update, .cancel {
            width: 150px;
            height: 50px;
            background-color: black;
            color: white;
            font-size: 15px;
            font-weight: bold;
            border-radius: 25px;
            cursor: pointer;
            border: none;
            margin-top: 30px;
            text-decoration: none; 
            display: inline-block; 
        }
        
        .update:hover, .cancel:hover {
            background-color: white;
            color: black;
        }
        
        .cancel a {
            text-decoration: none; 
            display: inline-block; 
            color: inherit;
        }
        
        .cancel a:hover {
            color: black; 
        }
        
        .cancel{
            margin-left: 320px;
        }
        
        .create{
            width: 150px;
            height: 50px;
            background-color: black;
            color: white;
            font-size: 15px;
            font-weight: bold;
            border-radius: 25px;
            cursor: pointer;
            border: none;
            margin-top: 30px;
            text-decoration: none; 
            display: inline-block; 
        }

        .create:hover{
            background-color: white;
            color: black; 
        }
