*{
    margin: 0px;
}

/*dizajn menu*/
header{
    font-family: 'Lucida Sans';
    font-style: italic;
}

body{
    margin-top: 60px;
    font-style: italic;
}

.menu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    position: fixed; 
    width: 100%; 
    top: 0;
    z-index: 1;
}

.menu li{
    margin: 10px;
    padding: 10px;
}

.menu li a{
    text-decoration: none;
    color: rgba(255, 208, 0, 0.753);
    font-weight: bold;
    font-size: 20px;
}

.menu li a:hover{
    color: rgb(255, 38, 0);
}

.hamburger {
    display: none;
    cursor: pointer;
    color: rgba(255, 208, 0, 0.753);
    font-size: 30px;
}
.hamburger:hover{
    color:rgb(255, 38, 0);
}

.menu-menu {
    display: flex;
}

.menu-menu.responsive {
    flex-direction: column;
    position: absolute;
    background-color: black;
    width:100%;
    top: 60px;
    left: 0px;
}

@media (max-width: 600px) {
    .menu-menu li {
        display: none;
    }

    .hamburger {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
    }

    .menu-menu.responsive li {
        display: block;
    }
}

.logo{
    padding-left: 30px;
}

/*dizajn prvej sekcie*/
section{
    padding: 3% 10%;
}

.banner h1{
    font-size: 50px;
    text-transform: uppercase;
}

.banner p{
    font-size: 25px;
}

.banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    color: rgba(255, 208, 0, 0.753);
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode: overlay;
    border-bottom: 10px solid orange;
 }

.banner h1{
    font-weight: bold;
    margin-bottom: 30px;
}

/*dizajn druhej sekcie*/
.news {
    font-family: 'Lucida Sans';
    background-image: url(../img/benner2.jpg);
    background-repeat: no-repeat;
    background-blend-mode: overlay; 
    background-size: cover;
    border-bottom: 10px solid orange;
}

.news h2{ 
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding: 10px;
    color: orange
}

.tab{
    width: 100%;
    padding: 20px;
    display: flex;  
    flex-direction: column; 
}

.tab td{
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
}

.news th, .news td {
    font-style: italic;
    border: 3px solid orange;
    border-radius: 10px;
    background-color: rgb(233, 201, 104);
}

@media screen and (max-width: 600px) {
    .tab, .tab th, .tab td {
        display: flex;
        flex-direction: column;
    }

    .tab td {
        padding: 20px;
    }

    .news h2 {
        font-size: 30px; 
    }
}

/*dizajn tretej sekcie*/
.delivery{
    background-image: url(../img/banner3.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(94, 94, 94);
    background-blend-mode: overlay;
    border-bottom: 10px solid orange;
}

.delivery h2{ 
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding: 10px;
    color: orange;
}

.zoznamDe li{
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: bold;
    color: orange;
}

/*dizajn footeru*/
.stlpce {
    display: flex;
    justify-content: space-between;
    background-color: black;
    min-height: 100px;
    color: white;
    padding: 20px;
    font-size: 20px;
    color: orange;
}

.stlpce a{
    text-decoration: underline;
    color: orange;
}

#text{
    margin: 20px;
}

.copy{
    background-color: black;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .stlpce {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

